<nav class="navbar navbar-expand-lg custom-nav">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a href="/" class="navbar-brand font-weight-bold">
                <img class="image-responsive" src="../../favicon.ico" alt="Pain-less logo" height="40">
                Pain-LESS
            </a>
            <li class="nav-item">
                <a href="#" class="nav-link font-weight-bold">Exercise library</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font-weight-bold disabled">Workout plans</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font-weight-bold disabled">Customized workouts</a>
            </li>
        </ul>
    </div>
</nav>