.slot {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    opacity: 100% !important;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 220px;
    width: 300px;
    cursor: pointer;
    position: relative;
    margin: 3%;
    padding: 10px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-image {
    width: 250px;
    max-width: 250px;
    min-height: 140px;
    max-height: 140px;
}

.card:hover {
    scale: 105%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: rotateX(0deg);
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
    text-align: center;
}

.front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: rotateX(0deg);
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

