.background {
    background: rgba(230,230,230,0.7);
    background-repeat: no-repeat;
    position: relative;
    height: 80%;
    max-height: 80%;
    width:87%;
    max-width:90%;
    border: #44acaa 3px;
    border-style: ridge;
    margin: auto;
}

.workout-card {
    background-color: #44acaa;
    margin: 1em;
}
